<!DOCTYPE HTML>
<html>

    <head>
        <title>Students Page</title>
        <h1>All Students</h1>
    </head>


    <body>
        
        <% @students.each do |student| %>
        <h3> <%= student %> </h3>
        <%end%>
        
    </body>

</html>